* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

h3 {
  font-family: Montserrat, sans-serif;
  font-style: bold;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
}

.dropdown-list, .dropdown__name, .subscription-text-field__input, .filter-date-dropdown__input, .date-dropdown-default-empty__input, .date-dropdown-default-fill__input, .masked-text-field__input, .dropdown-default__input, .text-field-hover-focus__input, .text-field-default__input {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  background: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 13px 14px 8px 14px;
  width: 320px;
  outline: none;
}
.dropdown-list::-webkit-input-placeholder, .dropdown__name::-webkit-input-placeholder, .subscription-text-field__input::-webkit-input-placeholder, .filter-date-dropdown__input::-webkit-input-placeholder, .date-dropdown-default-empty__input::-webkit-input-placeholder, .date-dropdown-default-fill__input::-webkit-input-placeholder, .masked-text-field__input::-webkit-input-placeholder, .dropdown-default__input::-webkit-input-placeholder, .text-field-hover-focus__input::-webkit-input-placeholder, .text-field-default__input::-webkit-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}
.dropdown-list::-moz-placeholder, .dropdown__name::-moz-placeholder, .subscription-text-field__input::-moz-placeholder, .filter-date-dropdown__input::-moz-placeholder, .date-dropdown-default-empty__input::-moz-placeholder, .date-dropdown-default-fill__input::-moz-placeholder, .masked-text-field__input::-moz-placeholder, .dropdown-default__input::-moz-placeholder, .text-field-hover-focus__input::-moz-placeholder, .text-field-default__input::-moz-placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
}

/***majour containers**********\ */
.main-container {
  display: flex;
  justify-content: space-between;
  margin: 145px 141px 131px 141px;
  height: 1800px;
}

.container {
  height: 99%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 635px;
}

.heading-contantainer {
  margin-bottom: 5px;
}

.container-for-items_date-dropdown {
  display: flex;
  justify-content: space-between;
}

/***heading-descriptin************************************** */
.heading-contantainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading-contantainer__description {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: right;
  text-transform: uppercase;
  color: rgba(31, 32, 65, 0.5);
}

/***text-field DEFAULT********************************* */
/***text-field HOVER/FOCUS********************************* */
.text-field-hover-focus__input:focus, .text-field-hover-focus__input:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px;
}

/***Dropdown - DEFAULT***************** */
.dropdown-default__input {
  padding-right: 44px;
  background-image: url(../img/expand_more.svg);
  background-position: right 16px center;
  background-repeat: no-repeat;
}
.dropdown-default__input::-webkit-input-placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
.dropdown-default__input::-moz-placeholder {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.75);
}
.dropdown-default__input:focus, .dropdown-default__input:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 2px;
}

/*** masked text field********* */
.masked-text-field__input:focus, .masked-text-field__input:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px;
}

/***date Dropdown***** */
.date-dropdown-default-fill__input {
  padding-right: 44px;
  background-image: url(../img/expand_more.svg);
  background-position: right 16px center;
  background-repeat: no-repeat;
  width: 150px;
}

.date-dropdown-default-empty__input {
  padding-right: 44px;
  background-image: url(../img/expand_more.svg);
  background-position: right 16px center;
  background-repeat: no-repeat;
  width: 150px;
}

/***filter date dropdown******** */
.filter-date-dropdown__input {
  padding-right: 44px;
  background-image: url(../img/expand_more.svg);
  background-position: right 16px center;
  background-repeat: no-repeat;
  width: 266px;
}

/***subscription-text-field******** */
.subscription-text-field__input {
  padding-right: 44px;
  background-image: url(../img/expand_more.svg);
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-image: url(../img/arrow_forward.svg);
  width: 266px;
}
.subscription-text-field__input:focus, .subscription-text-field__input:hover {
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px;
}

/***Checkbox Buttons****** */
.checkboxs__container {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.checkboxs__container:not(:last-child) {
  margin-bottom: 13px;
}
.checkboxs__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.checkboxs__container input:checked ~ .checkboxs__container__checkmark {
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px;
  border-color: #BC9CFF;
}
.checkboxs__container input:checked ~ .checkboxs__container__checkmark:after {
  display: block;
}

.checkboxs__container__checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}
.checkboxs__container__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.checkboxs__container__checkmark:before {
  content: "";
  position: absolute;
  display: none;
}

.checkboxs__container input:checked ~ .checkboxs__container__checkmark:after {
  display: block;
}

.checkboxs__container input:checked ~ .checkboxs__container__checkmark:before {
  display: block;
}

.checkboxs__container .checkboxs__container__checkmark:after {
  left: 7px;
  top: 2px;
  width: 6.5px;
  height: 7.5px;
  background: #FFFFFF;
  border-width: 0;
  transform: rotate(45deg);
}

.checkboxs__container .checkboxs__container__checkmark:before {
  left: 7px;
  top: 4px;
  width: 7px;
  height: 9px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-width: 0;
  transform: rotate(45deg);
}

/***radio batton*********************** */
.radio {
  display: flex;
}

.radio__container {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.5);
  display: block;
  position: relative;
  padding-left: 30px;
  margin-right: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.radio__container:not(:last-child) {
  margin-bottom: 13px;
}
.radio__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.radio__container input:checked ~ .radio__container__checkmark {
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 4px;
  border-color: #BC9CFF;
  border-radius: 50%;
}
.radio__container input:checked ~ .radio__container__checkmark:after {
  display: block;
}

.radio__container__checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #FFFFFF;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 50%;
}
.radio__container__checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radio__container input:checked ~ .radio__container__checkmark:after {
  display: block;
}

.radio__container .radio__container__checkmark:after {
  left: 3px;
  top: 3px;
  width: 12px;
  height: 12px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 50%;
  border-width: 0;
}

.radio__container input:checked ~ .radio__container__text {
  color: rgba(31, 32, 65, 0.75);
}

/****like buttons************** */
.like-button {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  background: #FFFFFF;
  border-radius: 10px;
  padding: 3px 10px 4px 20px;
  width: 40px;
  height: 20px;
}

.like-button-nonPress {
  border: 1px solid rgba(31, 32, 65, 0.25);
  color: rgba(31, 32, 65, 0.25);
  background-image: url(../img/like-nonPress.svg);
  background-position: left 5px center;
  background-repeat: no-repeat;
}
.like-button-nonPress:active, .like-button-nonPress:focus {
  outline: none;
}

.like-button-press {
  border: 1px solid #BC9CFF;
  color: #BC9CFF;
  background-image: url(../img/like-press.svg);
  background-position: left 5px center;
  background-repeat: no-repeat;
}
.like-button-press:active, .like-button-press:focus {
  outline: none;
}

/****rate-button********************* */
.rates-container {
  display: flex;
}

.rate-container {
  display: flex;
  flex-wrap: nowrap;
}
.rate-container:not(:last-child) {
  margin-right: 20px;
}

.rate-star:not(:last-child) {
  padding-right: 4px;
}

/****button***** */
.button1 {
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 15px 20px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
}

.button1, .button2, .button3, .button4 {
  margin-right: 20px;
  margin-bottom: 30px;
}
.button1:active, .button1:focus, .button2:active, .button2:focus, .button3:active, .button3:focus, .button4:active, .button4:focus {
  outline: none;
}

.button2 {
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 15px 20px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: bold;
  color: #FFFFFF;
}

.button3 {
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 15px 20px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  color: #BC9CFF;
  z-index: 0;
}
.button3:after {
  content: "";
  position: absolute;
  width: 96%;
  height: 90%;
  top: 2px;
  left: 2px;
  border-radius: 22px;
  background: #ffffff;
  z-index: -1;
}

.button4 {
  border-radius: 22px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  padding: 15px 20px;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  position: relative;
  opacity: 0.5;
  text-transform: uppercase;
  font-weight: bold;
  color: #BC9CFF;
  z-index: 0;
}
.button4:after {
  content: "";
  position: absolute;
  width: 96%;
  height: 90%;
  top: 2px;
  left: 2px;
  border-radius: 22px;
  background: #ffffff;
  z-index: -1;
}

/*****dropdown expend********** */
.dropdown {
  display: flex;
  flex-direction: column;
  width: 266px;
}

.absolute .dropdown-list {
  position: relative;
  top: -1px;
  box-sizing: border-box;
  z-index: 1;
}

.dropdown__name {
  padding-right: 44px;
  background-image: url(../img/expand_more.svg);
  background-position: right 16px center;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  text-overflow: ellipsis;
  width: inherit;
  color: rgba(31, 32, 65, 0.75);
  border: 1px solid rgba(31, 32, 65, 0.5);
  cursor: pointer;
}

.dropdown-list {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding: 13px 15px 17px 15px;
  width: inherit;
  font-weight: bold;
  color: #1F2041;
  text-transform: uppercase;
  display: none;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.dropdown__name__chengOnClick {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.dropdown.active .dropdown-list {
  display: block;
}

.dropdown-list__item {
  width: 100%;
}
.dropdown-list__item:not(:last-child) {
  padding-bottom: 22px;
}

.controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  float: right;
  cursor: pointer;
  width: 62px;
}
.controls:not(:last-child) {
  padding-bottom: 7px;
}

.minus__container {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 10px;
  color: rgba(31, 32, 65, 0.5);
  position: relative;
}
.minus__container:after {
  position: absolute;
  content: "";
  border: 1px solid rgba(31, 32, 65, 0.25);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  right: -12px;
  top: -10px;
}

.plus__container {
  font-family: Montserrat, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 10px;
  color: rgba(31, 32, 65, 0.5);
  position: relative;
}
.plus__container:after {
  position: absolute;
  content: "";
  border: 1px solid rgba(31, 32, 65, 0.25);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  right: -10px;
  top: -10px;
}

.disabled {
  color: rgba(31, 32, 65, 0.1);
}
.disabled:after {
  border-color: rgba(31, 32, 65, 0.1);
}